
.contenedor article {
	justify-content: right;
	display: flex;
	height: 600px;
}

.contenedor article .btn-abrir-popup {
	margin-right: 15px;
	margin-top: 10px;
	line-height: 40px;
	border: none;
	color: #0c5129;
	background: white;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(22, 97, 51, 0.8);
	color: white;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(124, 134, 60, 0.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #929D79;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	color: white;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: rgb(23, 98, 52)
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin: 0 auto;
	margin-bottom: 40px;
	opacity: 0;
}

#no-acc{
	margin: 20px 30px;
	margin-bottom: 25px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #0c5129;
	background: white;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

#no-acc:hover{
	background: rgba(63, 111, 82, 0.415);
	color: white;
}

#no-pass{
	margin: 20px 20px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 40px;
	border: none;
	color: #0c5129;
	background: white;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

#no-pass:hover{
	background: rgba(63, 111, 82, 0.415);
	color: white;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.btn-submit {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 30px;
	height: 50px;
	background-color: #C6BFA6 ;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #1c4119;
}

.popup form .btn-submit {
	padding: 0 20px;
	margin:  20px 10px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #0c5129;
	background: white;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(22, 97, 51, 0.8);
	color: white;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }
.popup.active .btn-submit { animation: entradaBotones 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes entradaBotones {
	from { opacity: 0; }
	to { opacity: 1; }
}